<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-device-pattern-intro-heading" jhiTranslate="aIoTapplicationApp.devicePatternIntro.home.createOrEditLabel">Create or edit a Device Pattern Intro</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aIoTapplicationApp.devicePatternIntro.devicepatternId" for="field_devicepatternId">Devicepattern Id</label>
                    <input type="text" class="form-control" name="devicepatternId" id="field_devicepatternId"
                           formControlName="devicepatternId"/>
                    <div *ngIf="editForm.get('devicepatternId')!.invalid && (editForm.get('devicepatternId')!.dirty || editForm.get('devicepatternId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('devicepatternId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('devicepatternId')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aIoTapplicationApp.devicePatternIntro.devicepatternCode" for="field_devicepatternCode">Devicepattern Code</label>
                    <input type="text" class="form-control" name="devicepatternCode" id="field_devicepatternCode"
                           formControlName="devicepatternCode"/>
                    <div *ngIf="editForm.get('devicepatternCode')!.invalid && (editForm.get('devicepatternCode')!.dirty || editForm.get('devicepatternCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('devicepatternCode')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('devicepatternCode')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aIoTapplicationApp.devicePatternIntro.memo" for="field_memo">Memo</label>
                    <input type="text" class="form-control" name="memo" id="field_memo"
                           formControlName="memo"/>
                    <div *ngIf="editForm.get('memo')!.invalid && (editForm.get('memo')!.dirty || editForm.get('memo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('memo')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aIoTapplicationApp.devicePatternIntro.creuser" for="field_creuser">Creuser</label>
                    <input type="text" class="form-control" name="creuser" id="field_creuser"
                           formControlName="creuser"/>
                    <div *ngIf="editForm.get('creuser')!.invalid && (editForm.get('creuser')!.dirty || editForm.get('creuser')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('creuser')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('creuser')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 140 }">
                        This field cannot be longer than 140 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aIoTapplicationApp.devicePatternIntro.cretime" for="field_cretime">Cretime</label>
                    <div class="d-flex">
                        <input id="field_cretime" type="datetime-local" class="form-control" name="cretime" formControlName="cretime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('cretime')!.invalid && (editForm.get('cretime')!.dirty || editForm.get('cretime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cretime')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('cretime')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aIoTapplicationApp.devicePatternIntro.moduser" for="field_moduser">Moduser</label>
                    <input type="text" class="form-control" name="moduser" id="field_moduser"
                           formControlName="moduser"/>
                    <div *ngIf="editForm.get('moduser')!.invalid && (editForm.get('moduser')!.dirty || editForm.get('moduser')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('moduser')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('moduser')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 140 }">
                        This field cannot be longer than 140 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="aIoTapplicationApp.devicePatternIntro.modtime" for="field_modtime">Modtime</label>
                    <div class="d-flex">
                        <input id="field_modtime" type="datetime-local" class="form-control" name="modtime" formControlName="modtime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('modtime')!.invalid && (editForm.get('modtime')!.dirty || editForm.get('modtime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('modtime')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('modtime')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
