<div>
    <h2 id="page-heading">
        <span jhiTranslate="aIoTapplicationApp.eventStatcode.home.title">Event Statcodes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event-statcode" [routerLink]="['/event-statcode/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="aIoTapplicationApp.eventStatcode.home.createLabel">
            Create a new Event Statcode
            </span>
        </button>
    </h2>
    <br>
    <div [formGroup]="searchForm">
        <div>
            <span jhiTranslate="aIoTapplicationApp.eventStatcode.esCode">Es Code: </span>
            <input type="text" formControlName="esCode"/>
        </div>
        <br>
        <div>
            <span jhiTranslate="aIoTapplicationApp.eventStatcode.esName">Es Name: </span>
            <input type="text" formControlName="esName"/>
        </div>
    </div>
    <br>
    <div>
        <button (click)="searchButton(1)">查詢</button>
    </div>
    <br>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="eventStatcodes?.length === 0">
        <span jhiTranslate="aIoTapplicationApp.eventStatcode.home.notFound">No eventStatcodes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="eventStatcodes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="esCode"><span jhiTranslate="aIoTapplicationApp.eventStatcode.esCode">Es Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="esName"><span jhiTranslate="aIoTapplicationApp.eventStatcode.esName">Es Name</span> <fa-icon icon="sort"></fa-icon></th>
<!--                    <th scope="col"  jhiSortBy="esCretime"><span jhiTranslate="aIoTapplicationApp.eventStatcode.esCretime">Es Cretime</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--                    <th scope="col"  jhiSortBy="esCreid"><span jhiTranslate="aIoTapplicationApp.eventStatcode.esCreid">Es Creid</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--                    <th scope="col"  jhiSortBy="esModtime"><span jhiTranslate="aIoTapplicationApp.eventStatcode.esModtime">Es Modtime</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--                    <th scope="col"  jhiSortBy="esModid"><span jhiTranslate="aIoTapplicationApp.eventStatcode.esModid">Es Modid</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eventStatcode of eventStatcodes ;trackBy: trackId">
                    <td><a [routerLink]="['/event-statcode', eventStatcode.id, 'view']">{{ eventStatcode.id }}</a></td>
                    <td>{{ eventStatcode.esCode }}</td>
                    <td>{{ eventStatcode.esName }}</td>
<!--                    <td>{{ eventStatcode.esCretime | date:'medium' }}</td>-->
<!--                    <td>{{ eventStatcode.esCreid }}</td>-->
<!--                    <td>{{ eventStatcode.esModtime | date:'medium' }}</td>-->
<!--                    <td>{{ eventStatcode.esModid }}</td>-->
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/event-statcode', eventStatcode.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/event-statcode', eventStatcode.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(eventStatcode)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="eventStatcodes?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
