<div>
    <h2 id="page-heading">
        <span jhiTranslate="aIoTapplicationApp.sensorCode.home.title">Sensor Codes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sensor-code" [routerLink]="['/sensor-code/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="aIoTapplicationApp.sensorCode.home.createLabel">
            Create a new Sensor Code
            </span>
        </button>
    </h2>
    <br>
    <div [formGroup]="searchForm">
        <div>
            <span jhiTranslate="aIoTapplicationApp.sensorCode.scCode">Sc Code: </span>
            <input type="text" formControlName="scCode"/>
        </div>
        <br>
        <div>
            <span jhiTranslate="aIoTapplicationApp.sensorCode.scName">Sc Name: </span>
            <input type="text" formControlName="scName"/>
        </div>
    </div>
    <br>
    <div>
        <button (click)="searchButton(1)">查詢</button>
    </div>
    <br>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sensorCodes?.length === 0">
        <span jhiTranslate="aIoTapplicationApp.sensorCode.home.notFound">No sensorCodes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sensorCodes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="scCode"><span jhiTranslate="aIoTapplicationApp.sensorCode.scCode">Sc Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="scName"><span jhiTranslate="aIoTapplicationApp.sensorCode.scName">Sc Name</span> <fa-icon icon="sort"></fa-icon></th>
<!--                    <th scope="col"  jhiSortBy="scCretime"><span jhiTranslate="aIoTapplicationApp.sensorCode.scCretime">Sc Cretime</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--                    <th scope="col"  jhiSortBy="scCreid"><span jhiTranslate="aIoTapplicationApp.sensorCode.scCreid">Sc Creid</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--                    <th scope="col"  jhiSortBy="scModtime"><span jhiTranslate="aIoTapplicationApp.sensorCode.scModtime">Sc Modtime</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--                    <th scope="col"  jhiSortBy="scModid"><span jhiTranslate="aIoTapplicationApp.sensorCode.scModid">Sc Modid</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sensorCode of sensorCodes ;trackBy: trackId">
                    <td><a [routerLink]="['/sensor-code', sensorCode.id, 'view']">{{ sensorCode.id }}</a></td>
                    <td>{{ sensorCode.scCode }}</td>
                    <td>{{ sensorCode.scName }}</td>
<!--                    <td>{{ sensorCode.scCretime | date:'medium' }}</td>-->
<!--                    <td>{{ sensorCode.scCreid }}</td>-->
<!--                    <td>{{ sensorCode.scModtime | date:'medium' }}</td>-->
<!--                    <td>{{ sensorCode.scModid }}</td>-->
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sensor-code', sensorCode.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sensor-code', sensorCode.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sensorCode)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="sensorCodes?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
